@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: black;
  color: white;
}
.navContainor {
  width: auto;
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: auto;
}

.logo a img {
  position: absolute;
  width: 30%;
  padding-top: 8%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #04147a;
}
.menu {
  list-style-type: none;
  display: flex;
  padding-right: 20px;
  align-items: center;
}

li {
  margin-left: 20px;
}

#darkMode:hover path {
  fill: #04147a;
}

.homeContainor {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 13%;
}
.homeLeft {
  width: auto;
  padding-left: 3%;
  padding-top: 20%;
  justify-content: center;
}

.homeContent {
  width: auto;
  padding-left: 15%;
}

#hp1 {
  font-size: 25px;
  padding-bottom: 35px;
  padding-top: 20px;
  font-family: "Roboto Mono", monospace;
}
#hp2 {
  font-size: 15px;
  padding-bottom: 5px;
  font-family: "Roboto Mono", monospace;
}
#hp3 {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "Roboto Mono", monospace;
}
#hp4 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: #020948;
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
  margin-top: 10px;
  width: 110px;
  height: 35px;
}

button:hover {
  background-color: #04147a;
}

.homeRight {
  width: auto;
  padding-right: 23%;
  padding-top: 3%;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: auto;
  position: relative;
  padding-right: 5%;
  align-items: center;
}
#secCircle {
  width: 140%;
  position: absolute;
  z-index: 0;
}
#firCircle {
  width: 140%;
  position: absolute;
  z-index: 1;
  padding-left: 20%;
  padding-top: 10%;
}
#man {
  width: 180%;
  position: relative;
  z-index: 2;
  padding-top: 25%;
}

.aboutMe {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12%;
  padding-bottom: 12%;
}

.abutLeft {
  width: 50%;
  justify-content: center;
  align-items: center;
}

.aboutImg {
  position: relative;
  padding-top: 15%;
  padding-left: 95%;
  align-items: center;
  justify-content: center;
  width: auto;
}

#secRec {
  width: 203%;
  position: absolute;
  z-index: 0;
  transition: 1s;
  transform: rotate(20deg);
}

#firRec {
  width: 203%;
  position: absolute;
  z-index: 1;
  transition: 1s;
  transform: rotate(5deg);
}

#myImg {
  width: 4000%;
  position: relative;
  z-index: 2;
  padding-left: 2.5px;
  transition: 1s;
  transform: rotate(-10deg);
}

.aboutImg:hover > #myImg {
  transition: 0.3s;
  transform: rotate(0deg);
}
.aboutImg:hover > #firRec {
  transition: 0.3s;
  transform: rotate(0deg);
}
.aboutImg:hover > #secRec {
  transition: 0.3s;
  transform: rotate(0deg);
}

.aboutRight {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
}
